<h1>Feed</h1>
{{#if error}}
  <span>{{error}}</span>
{{else}}
  <ul class="list-group">
    {{#each feed}}
    <li class="list-group-item">{{this}}</li>
    {{/each}}
  </ul>
{{/if}}
<span>Select user:</span>
<form class="form-inline" method="POST" action="/user/feed">
  <div class="form-group">
    <select class="form-control" id="id" name="id">
      {{#each users}}
        <option value="{{this.feedId}}">[{{this.feedId}}] {{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <input type="submit" class="btn btn-primary" value="View">
</form>
